* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-rendering: optimizeLegibility;
}

img {
    width: 100%;
    height: auto;
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    margin: 20px;
    padding: 20px;
    background-color: hsl(33, 20%, 90%);
    border-radius: 12px;
}

.poke-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    color: blue;
}

.poke-img {
    align-self: center;
    image-rendering: pixelated;
    width: 80%;
    height: 80%;
}

.poke-type {
    text-align: center;
}

.poke-exp {
    text-align: center;
}